.App {
  width: 100vw;
  height: 100vh;
  background: rgb(45,8,74);
  background: -moz-linear-gradient(180deg, rgba(45,8,74,1) 0%, rgba(128,82,215,1) 91%, rgba(255,229,145,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(45,8,74,1) 0%, rgba(128,82,215,1) 91%, rgba(255,229,145,1) 100%);
  background: linear-gradient(180deg, rgba(45,8,74,1) 0%, rgba(128,82,215,1) 91%, rgba(255,229,145,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d084a",endColorstr="#ffe591",GradientType=1);
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 39px 46px;
  background-color: #ffffff6b;
  border-radius: 2px;
  border: 1px solid #ffffff87;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 1px solid #ffffff;
  color: white;
  background-color: #ffffff8c;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer input::placeholder {
  color: white;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #ffffff7a;  
  color: #fff;
  font-weight: bold;
}

.joinChatContainer button:hover {
  background: #ffffffd9;
  transition: 0.3s;
}

.chat-window {
  width: 700px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  background: #ffffff9c;  
  border: 1px solid #ffffff91;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 1em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(622px - (45px + 70px));
  border: 1px solid #ffffff91;
  background: #fff3;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 400px;
  background-color: #ffffff24;
  border-radius: 2px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 7px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
  color: white;
  text-transform: capitalize;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: #ffffff80;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
  color: white;
}

.message-meta #author {
  margin-left: 7px;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #ffffff91;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px solid #ffffff9c;
  background: #ffffff63;
  color:white;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer input::placeholder {
  color: white;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: #ffffff63;
  outline: none;
  font-size: 25px;
  color: #ffffff96;
}

.chat-window .chat-footer button:hover {
  background-color: #ffffffb3;
  color: white;
  transition: 0.3s;
}
.hide {
  opacity: 0 !important;
}